<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Search</title>

    <style>
    *{font:12px; }

table{width:100%;border:1px solid #999;}
table td{word-break: keep-all;white-space:nowrap;}

  </style>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

  <script src="/static/bootstrap/js/jquery-1.11.3.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed --> 
  <script src="/static/bootstrap/js/bootstrap.js"></script>
  <script src="/static/layermobile/layer.js"></script> 

</head>
<body>
  <div class="container">
  <div class="row">
    <div class="span12">
      <ul class="nav nav-tabs">
        <li >
          <a href="/">首页</a>
        </li>
        <li>
          <a href="/admin/index/order">订单</a>
        </li>

         <li>
          <a href="/admin/index/search">搜索</a>
        </li>
        <li>
          <a href="/admin">管理</a>
        </li>
        

        <li class="dropdown pull-right">
           <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">操作</a>
            </li>
            <li>
              <a href="#">设置栏目</a>
            </li>
            <li>
              <a href="#">更多设置</a>
            </li>
            <li class="divider">
            </li>
            <li>
              <a href="#">分割线</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
    <div class="col-lg-12">
     
{$log->render()}
    </div>
  </div>


	<?php  if(isset($log)){    ?>
<div class="row">
  <div class="col-lg-12">
  <table class="table table-bordered" width="100%" border="1">
  <tbody>
    <tr>
      <td>类型</td> 
      <td>时间</td>
      <td>详情</td>
     
    </tr>

    {foreach $log as $K=>$v}


    <tr >
      <td> {$v.type} </td>
    
    
      <td><?php echo date("Y/m/d/H:i:s",$v['time']); ?></td>
       <td> {$v.content}</td>

    
    </tr>
   {/foreach}


<?php   }  ?>
  </tbody>
</table>
  
  
  
  </div>
</div>



</div>





</body>
</html>
