<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/pintuer/pintuer.css">
	<script src="/static/pintuer/jquery.js"></script>
	<script src="/static/pintuer/pintuer.js"></script>
	<script src="/static/pintuer/respond.js"></script>
	<style>
.container {
	max-width: 960px;
}
.nav li {
	float: left
}
</style>
	<title>神笔云 ShenBi.Me</title>
	</head>

	<body>
<div class="container-layout bg-green">
      <div class="container">
    <div class="bg-green bg-inverse radius " id="nav-bg8">
          <ul class="nav nav-inline nav-menu nav-pills clearfix">
       <li><a href="/">首页</a></li>
        <li><a href="">流量卡</a></li>
        <li><a href="/apply">注册</a></li>
		<li><a href="/login">登录</a></li>
      </ul>
        </div>
  </div>
    </div>
    
    
    <br>

    


    <div class="container">
      <div class="line-small">
    <div class="xm12 xs12 text-center">
		  
	
		  
		  	  <div class="panel">
	<div class="panel-body">
		
				 
				  <div>
			
<span class="text-large">神笔云  ShenBi.Me</span>
			<br>

			禁止发送违禁词！
			<br>
				  

				  				  <div>
				<span class="icon-weixin text-large"></span>
		
		<span class="icon-qq text-large"></span>
		
	<a href="https://twitter.com/shenbime" target="_blank">	<span class="icon-twitter text-large"></span></a>
		
		<span class="icon-youtube-square text-large"></span>
				  	
				  	
				  </div>	
				  	
				  </div>
				  
				  </div>
</div>	  
		  
		  
	</div>
    
  </div>
    </div>  
    
    
    <br>    
 
    <div class="container">
    	
    	<div class="line">
    		
    		<div class="xl3"></div>
    		
    		<div class="xl3"></div>
    		<div class="xl3"></div>
    		<div class="xl3"></div>
    	</div>
    	
    	
    	
    </div>
    
	
	<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="1cba46d9-721f-4c9b-a691-5c00effa7a8a";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    
</body>
</html>
